.section {
  @apply lg:h-screen h-full bg-dark-950 lg:snap-start snap-always scroll-smooth;
  /* scroll-snap-align: start; */
}

.home {
  @apply w-screen pt-20 relative py-12 md:px-24 px-4 bg-[radial-gradient(circle_at_50%_70%,_rgba(249,115,22,1)_10%,_transparent_50%)] text-center z-[1];
}

.about {
  @apply w-screen relative md:px-24 px-4 lg:bg-[radial-gradient(circle_at_50%_-20%,_rgba(249,115,22,1)_0%,_transparent_36%)] md:bg-[radial-gradient(circle_at_50%_-22%,_rgba(249,115,22,1)_0%,_transparent_31%)] bg-[radial-gradient(circle_at_50%_-20%,_rgba(249,115,22,1)_-5%,_transparent_25%)] text-white z-0;
}

.experience {
  background: linear-gradient(180deg, #262626, #0d2d44 100%);
}

.skills {
  background: linear-gradient(180deg, #0d2d44, #00101b 100%);
}

.portfolio {
  background: linear-gradient(180deg, #00101b, #262626 100%);
}
