@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-regular overflow-x-hidden bg-dark-default;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}
