@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-regular overflow-x-hidden;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
